*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif; /*fonte da página*/
    font-size: 1rem;
}
  
/* Estilos do menu de navegação */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 3.125rem; /* 20px 50px */
  background-color: #fff;
  flex-wrap: wrap;
}


.logo {
  display: flex;  /*deixar todos os elementos dentro do menu na horizontal*/  
  align-items: center; /*alinhar todos os elementos do menu centralizando ao meio no eixo y*/
  font-size: 1.5rem;
  font-weight: 600;
}

.logo img { /*estou selecionado o elemento de imagem que está dentro do elemento de logo*/
  width: 2.5rem; /*largura*/
  height: 2.5rem; /*altura*/
  margin-right: 0.5rem; /*margem da direita*/
}  

button {
  color: #E05151; /*cor do texto do botão */
  /* border: none; /*remover a borda do botão*/
  background-color: transparent; /* deixando o fundo do botão com cor transparente */
  height: 3rem; /*altura do botão*/  
  /* border-radius: 0.75rem; /*arredondar as bordas */
  font-size: 1rem; /* tamanho da escrita dentro do botão*/
  padding: 0.75rem 1.5rem; /* espaçamento interno do botão */
  font-family: "Inter", sans-serif; /*fonte*/
  font-weight: 600; /*peso da fonte*/
  border : 1px solid #CEE0F5 /*1px(espessura da borda) solid(linha) depois vem a cor da borda*/
}

.botao-cadastrar{
  background-color: #E05151; /*cor de fundo do botão*/
  color: white; /*cor da fonte do botão*/
  border : none; /*remove a borda do botão cadastrar*/
}  

/* Hero Section */
.hero {
  position: relative;
  height: auto;
  padding: 6.25rem 3.125rem; /* 100px 50px */
  /* background: url("foto-fundo.jpg") no-repeat center/cover; */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("foto-fundo.jpg") no-repeat center/cover;
  opacity: 0.2; /* Aplica opacidade somente à imagem */
  z-index: -1; /* Mantém a imagem atrás do conteúdo */
}

.conteudo-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  z-index: 1; /* Garante que o conteúdo esteja à frente da imagem */
}
/* Como funciona */
.como-funciona {
  background-color: #F1F2F4;
  padding: 6.25rem 3.125rem;
  text-align: center;
}

.como-funciona h2{
  text-align: center;
}

.conteudo-como-funciona {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.informacao-como-funciona {
  flex: 1 1 100%;
  max-width: 300px;
  margin: 1rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 12px;
  text-align: center;
}

.informacao-como-funciona:nth-child(2){
  background-color: white;
}


.informacao-hero {
  max-width: 40.75rem;
  margin-bottom: 2rem;
}

/*aqui eu estou selecionado o elemento <h1> que está dentro do elemento que tem a classe informacao-hero*/
.informacao-hero h1{ 
  font-size: 2.25rem;
} 

/*aqui eu estou selecionado o elemento <p> que está dentro do elemento que tem a classe informacao-hero*/
.informacao-hero p{
  color: #5E6670;
}

.imagem-hero img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin-top: 2rem;
}

/* Seção Vagas mais populares */
.vagas-mais-populares {
  padding: 6.25rem 0;
  text-align: center;
}

.vagas-mais-populares table {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

td {
  font-size: 1.125rem;
  font-weight: 600;
  padding: 1.5rem;
  text-align: center;
}

h2 {
  margin-bottom: 3.125rem;
  margin-top: 0;
}


span {
  font-size: 1rem;
  font-weight: 400;
  color: #767F8C;
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
}

/* Depoimentos */
.depoimentos {
  padding: 6.25rem 3.125rem;
  text-align: center;
}

.depoimentos h2{
  text-align: center;
}

.conteudo-depoimentos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

.depoimento-card {
  width: 100%;
  max-width: 26.5rem;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0.75rem 0.75rem rgba(0, 44, 109, 0.1);
}

.corpo-depoimento{
  color: #464D61;
}

.rodape-depoimento {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.perfil-depoimento{
  flex-grow: 1;
  margin-left: 0.75rem;
}

.slide{
  margin-top: 3.125rem;
}

.profissao{
  color: #767E94;;
}

/* Seção de chamada à ação */
.acao-chamada {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3.125rem;
  background: #F1F2F4;
}

.card-profissional {
  width: 100%;
  max-width: 40.5rem;
  margin: 1rem;
  padding: 3.125rem;
  background-color: #E4E5E8;
  border-radius: 12px;
  text-align: center;
  /* Centralização com Flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.75rem;
}

.card-profissional>h3{
  margin: 0;
}

.card-profissional>button{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin-top: 1.625rem;
  padding: 0.75rem 1.5rem;
}

.card-profissional>button>img{
  width: 2.5rem;
  height: 2.5rem;
}

.recrutador{
  background: #B34141;
  color: #fff;
}

/* Footer */
footer {
  padding: 1.5rem 3.125rem;
  background: #000;
  color: #767F8C;
  text-align: center;
}

/* Resolução para telas menores (como celulares) */
@media (max-width: 768px) {
  .hero, .como-funciona, .depoimentos, .acao-chamada {
    padding: 3.125rem 1.25rem; /* 50px 20px */
  }

  .conteudo-hero, .conteudo-como-funciona, .conteudo-depoimentos {
    flex-direction: column;
    padding: 0;
  }

  .conteudo-hero {
    flex-direction: column;
    text-align: center;
  }

  .vagas-mais-populares table {
    font-size: 0.875rem; /* Reduz o tamanho da fonte */
  }

  nav {
    padding-left: 1.25rem; /* 20px */
    padding-right: 1.25rem; /* 20px */
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .conteudo-hero {
    flex-direction: column;
    padding: 3.125rem 1.25rem; /* 50px 20px */
  } 

  .informacao-hero {
    text-align: center;
    margin-bottom: 1.25rem; /* 20px */
  }

  .vagas-mais-populares {
    padding: 3.125rem 1.25rem; /* 50px 20px */
  }

  .como-funciona, .depoimentos, .acao-chamada {
    padding: 3.125rem 1.25rem; /* 50px 20px */
  }

  .conteudo-como-funciona, .conteudo-depoimentos {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;    
  }

  .depoimento-card, .card-profissional {
    max-width: 100%;
  }

  .acao-chamada {
    flex-direction: column;
  }

  .card-profissional {
    width: 100%;
    text-align: center;
  }

  footer {
    padding: 1.25rem; /* 20px */
  }
}

/* Resolução para telas intermediárias (tablets) */
@media (max-width: 1024px) {
  nav {
    padding-left: 3.125rem; /* 50px */
    padding-right: 3.125rem; /* 50px */
  }

  .conteudo-hero {
    padding: 3.125rem 6.25rem; /* 50px 100px */
  }

  .como-funciona, .depoimentos, .acao-chamada {
    padding: 3.125rem 6.25rem; /* 50px 100px */
  }

  .conteudo-como-funciona, .conteudo-depoimentos {
    flex-direction: column;
  }

  .depoimento-card {
    width: 90%;
  }

  footer {
    padding: 1.25rem 6.25rem; /* 20px 100px */
  }
}
